In [1]:
import numpy as np
import pandas as pd

In [19]:
df_oh = pd.read_csv('../data/thomas/df_oh_final2.csv')
df_oh.drop(columns=['administered_dose1_recip', 'series_complete_yes', 'new_dose_1', 'new_series_completed'], inplace=True)

In [29]:
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [30]:
df_list = [df_oh]
for i in range(49):
    df = df_oh.copy()
    df['state'] = states[i]
    df['tot_cases'] = df_oh['tot_cases'] + 1000 * (i+1)
    df['new_cases'] = df_oh['new_cases'] + 100 * (i+1)
    df['I_actual'] = df_oh['I_actual'] + 500 * (i+1)
    df['I_arima_preds'] = df_oh['I_arima_preds'] + 250* (i+1)
    df['I_SIR_preds'] = df_oh['I_SIR_preds'] + 200 * (i+1)
    df_list.append(df)

In [31]:
pd.concat(df_list).to_csv('../data/thomas/test.csv', index=False)

In [32]:
len(states)

49

In [14]:
df_all = pd.read_csv('../data/shaniaaaaaa/bangaroonie.csv', index_col='key_0').drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
df_all

,AK_I,AL_I,AR_I,AZ_I,CA_I,CO_I,CT_I,DC_I,DE_I,FL_I,...,SD_H_I,TN_H_I,TX_H_I,UT_H_I,VA_H_I,VT_H_I,WA_H_I,WI_H_I,WV_H_I,WY_H_I
key_0,,,,,,,,,,,,,,,,,,,,,
2020-12-13,8890.0,47919.0,29455.0,82489.0,352832.0,62783.0,34180.0,3426.0,10959.0,132389.0,...,0,0,0,0,0,0,0,0,0,0
2020-12-14,8811.0,48307.0,29698.0,93473.0,372076.0,61179.0,36697.0,3486.0,10995.0,133125.0,...,0,0,0,0,0,0,0,0,0,0
2020-12-15,8544.0,48487.0,29889.0,87285.0,392181.0,58115.0,36708.0,3654.0,11473.0,134567.0,...,0,0,0,0,0,0,0,0,0,0
2020-12-16,8460.0,49123.0,29983.0,88282.0,425130.0,56753.0,36355.0,3760.0,11562.0,136851.0,...,0,0,0,0,0,0,0,0,0,0
2020-12-17,8042.0,50608.0,30233.0,88657.0,458823.0,53946.0,33925.0,3666.0,10989.0,139779.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-25,1840.0,17087.0,11783.0,41750.0,130944.0,32166.0,35134.0,10863.0,11439.0,204728.0,...,1,1,1,1,1,1,1,1,1,1
2021-12-26,1840.0,18656.0,11987.0,38863.0,130944.0,32166.0,35134.0,10863.0,12059.0,231391.0,...,1,1,1,1,1,1,1,1,1,1
2021-12-27,2263.0,21372.0,12693.0,44113.0,149242.0,38021.0,41895.0,19373.0,11899.0,261304.0,...,1,1,1,1,1,1,1,1,1,1
2021-12-28,2263.0,27050.0,14325.0,43921.0,193197.0,42779.0,44649.0,21093.0,12174.0,309153.0,...,1,1,1,1,1,1,1,1,1,1
2021-12-29,2811.0,34687.0,17041.0,44083.0,209529.0,48188.0,50446.0,22178.0,12578.0,358745.0,...,1,1,1,1,1,1,1,1,1,1

In [15]:
state_abbrev = [ 'AK_', 'AL_', 'AR_', 'AZ_', 'CA_', 'CO_', 'CT_', 'DC_', 'DE_', 'FL_',
                'GA_', 'IA_', 'ID_', 'IL_', 'IN_', 'KS_', 'KY_', 'LA_', 'MA_', 'MD_', 'ME_',
                'MI_', 'MN_', 'MO_', 'MS_', 'MT_', 'NC_', 'ND_', 'NE_', 'NH_', 'NJ_', 'NM_',
                'NV_', 'NY_', 'OH_', 'OK_', 'OR_', 'PA_', 'RI_', 'SC_', 'SD_', 'TN_', 'TX_', 'UT_',
                'VA_', 'VT_', 'WA_', 'WI_', 'WV_', 'WY_']

df_list = []

for abbrev in state_abbrev:
    state_cols = []
    for col in list(df_all.columns):
        if abbrev in col:
            state_cols.append(col)
#     print(state_cols)
    df = df_all[state_cols].drop(columns=[abbrev+'I_SRI',abbrev+'S_SRI']).copy()
#     print(df)
    df.columns = ['I', 'Vax', 'I_Arima', 'I_SIR', 'S_SIR', 'Herd_Immunity']
    df['state'] = abbrev[:2]
    df_list.append(df)
df_complete = pd.concat(df_list)

In [16]:
df_complete

,I,Vax,I_Arima,I_SIR,S_SIR,Herd_Immunity,state
key_0,,,,,,,
2020-12-13,8890.0,0.0,8890.000000,8890.000000,696721.450000,0,AK
2020-12-14,8811.0,0.0,8811.000000,9944.100000,695310.145500,0,AK
2020-12-15,8544.0,0.0,8544.000000,9852.341759,693932.145143,0,AK
2020-12-16,8460.0,0.0,8460.000000,9550.575209,692624.432768,0,AK
2020-12-17,8042.0,0.0,8042.000000,9453.662093,691349.550633,0,AK
...,...,...,...,...,...,...,...
2021-12-25,1380.0,9.0,1417.924340,1504.538457,466780.068305,1,WY
2021-12-26,1380.0,1.0,1298.646301,1504.764058,467634.642136,1,WY
2021-12-27,1547.0,4.0,1284.478721,1505.172937,468488.261348,1,WY
2021-12-28,1684.0,479.0,1301.358346,1687.778524,469301.140210,1,WY
2021-12-29,1883.0,261.0,1583.237993,1837.720267,469606.792828,1,WY

In [17]:
df_complete.to_csv('../data/thomas/df_tableau.csv')

In [18]:
df_complete = pd.read_csv('../data/thomas/df_tableau.csv')
df_complete.head()

,key_0,I,Vax,I_Arima,I_SIR,S_SIR,Herd_Immunity,state
0,2020-12-13,8890.0,0.0,8890.0,8890.000000,696721.450000,0,AK
1,2020-12-14,8811.0,0.0,8811.0,9944.100000,695310.145500,0,AK
2,2020-12-15,8544.0,0.0,8544.0,9852.341759,693932.145143,0,AK
3,2020-12-16,8460.0,0.0,8460.0,9550.575209,692624.432768,0,AK
4,2020-12-17,8042.0,0.0,8042.0,9453.662093,691349.550633,0,AK